<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header bg-warning"><span><i class="fa fa-users"></i></span> Members </h5>
                <div class="card-body">
                    <p class="card-text"> Total count: <%= @member_count %></p>
                    <p class="card-text"> Active: <%= @member_count %></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-warning">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <h5 class="card-header bg-warning"><span><i class="fa fa-hand-holding-usd"></i></span> Loans </h5>
                <div class="card-body">
                    <p class="card-text"> Total count: <%= @loan_count %></p>
                    <p class="card-text"> Released amount: <%= @loan_count %></p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-warning">View</a>
                </div>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>
