<h1>Loan Type: <%= @loan_type.loan_type_name %></h1>
<%= link_to 'Edit', edit_loan_type_path(@loan_type), class: "btn btn-primary" %>
<%= link_to 'Back', loan_types_path, class: "btn btn-secondary" %>
