// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.db-card {
    background-color: #1B1F26;
    border-color: #373D47;
    border-radius: 10px;
}