@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #0D1217;
    color: #fff;
}

.main-content {
    padding-left: 260px;
    padding-right: 60px;
    padding-top: 100px;
}

a {
    color: #212529;
}

.text-fin {
    color: #39FF14 !important;
}

.bg-fin {
    background-color: #39FF14 !important;
}

.bg-fin-dark {
    background-color: #1B1F26;
}

.btn-fin {
    background-color: #39FF14 !important;
}

.btn-fin:hover {
    background-color: #212529 !important;
    color: #39FF14;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212529;
    background-color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #39FF14;
    background-color: #212529;
    border-color: #212529;
}

.page-link:hover {
    color: #212529;
    text-decoration: none;
    background-color: #39FF14;
}

.no-border {
    border: none;
    box-shadow: none;
  }