.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    padding-top: 66px;
  }

  .fin-sb {
    background-color: #0D1217;
    border-right: solid 1px #373D47;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
  }

  .sidebar-item i {
    color: #39FF14;
  }

  .sidebar-link {
    color: #fff;
  }

  .sidebar-link:hover {
    color: #39FF14;
  }

  .icon-small {
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
