.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    padding-top: 66px;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
  }

  .sidebar-item i {
    color: #39FF14;
  }

  .sidebar-link {
    color: #fff;
  }

  .sidebar-link:hover {
    color: #39FF14;
  }


  
