  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Debtor Details</h2>
    <div>
      <%= link_to("Back", {:action => 'index'}, :class => 'btn btn-info') %>
      <%= link_to("Edit", {:action => 'edit', :id => @member.id}, :class => 'btn btn-warning') %>
    </div>
  </div>

  <table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <th>Member:</th>
            <td><%= @member.name %></td>
        </tr>
    </tbody>
  </table>
